<html>
<head>
<title>{{ title }}</title>
	<link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/style.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<script src="/static/js/jquery.scrolldeck.js"></script>
	<script src="/static/js/jquery.scrollTo-1.4.3.1.min.js"></script>
	<script>
	$(document).ready(function(){
	//$('#nav').localScroll(800);
	$(".slidingDiv").hide();
	$(".show_hide").show();

	$('.show_hide').click(function(){
	$(".slidingDiv").slideToggle();
	});
	RepositionNav();
	
	$(window).resize(function(){
		RepositionNav();
	});	
	
	//.parallax(xPosition, adjuster, inertia, outerHeight) options:
	//xPosition - Horizontal position of the element
	//adjuster - y position to start from
	//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
	//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
	$('#intro').parallax("50%", 0, 0.1, true);
	$('#second').parallax("50%", 0, 0.1, true);
	$('.bg').parallax("50%", 2500, 0.4, true);
	$('#third').parallax("50%", 2750, 0.3, true);
	
	var deck = new $.scrolldeck({
		slides: '.slide',
		buttons: '#nav li a',
		easing: 'easeInOutExpo'
	});

})

	</script>
</head>
<body>
<div id="intro" class="top-header">
	<h1>The Strategic Marriage of Media Companies and Political Action Committees</h1>
</div>


<div class="copy">
<p>
	It's still relatively early in the 2016 election cycle, but spending on campaign media has already begun. In most cases, the FEC places a cap on how much individuals and organizations can give directly to political candidates, but that doesn't include how much money Political Action Committees, or PACs, can spend on media campaigns to further their respective causes.
</p>
<p>
	In fact, for certain types of PACs—including the much-discussed SuperPACs—there is a special category of transactions called "independent expenditure," whereby an unlimited amount of money can be spent on media.
</p>
<img src="/static/img/kasich.jpg">
<div class="caption">
A Snapchat filter supporting John Kasich.
</div>
<p>
	In the age of social media, there are an increasing number of possibilities for supporters of a particular candidate to use digital platforms. These platforms provide new ways for candidates to engage with potential voters—and there's a lot of money to be made by these platforms.
</p>
<img src="/static/viz/median.png"/>
<img src="/static/viz/transacts.png"/>

<p>
	For each transaction categorized as "independent expenditure," the spender must disclose to the FCC how much is spent and to whom the payment was made. Each transaction pertains to a particular political candidate, and the sender lists whether the service purchased is to support or oppose that candidate.
</p>




</div>

<!-- boop -->
<div class="copy">

<img src="/static/img/img-bernie.png"/>
<img src="/static/img/img-bernie2.png"/>
<div class="caption">
	An anti-Bernie Sanders ad <a href="https://www.instagram.com/p/80rWSdGhT0/">posted</a> to Donald Trump's Instagram.
</div>
<p>
	Vivamus nec tellus tempus, varius ex id, bibendum ligula. Suspendisse at nisi gravida, vehicula libero at, congue erat. Suspendisse commodo dolor a sollicitudin vehicula. Suspendisse in tincidunt tortor, eu dapibus justo. Nunc sed venenatis leo. Ut ac ipsum purus. Nulla porttitor suscipit libero quis sodales. Donec laoreet id felis vel tincidunt. Nam vulputate blandit nulla. Integer vitae sapien pharetra, vehicula enim eget, commodo nibh. Curabitur ac ultrices orci, vitae ultrices metus. Curabitur augue justo, iaculis id nibh ac, venenatis facilisis eros. Nunc eget urna eu velit rutrum sollicitudin.
</p>
</div>

<div id="second" class="sec1-header">
	<h2>the companies that benefit</h2>
</div>
<br/><br/>
<div class="box-container">
<div class="box-label left">
	email<br/>
	<div class="sublabel">
	$560,000
	</div>
</div>
<div class="box email-box left"></div>
<div class="clear"></div>

<div class="box-label left">
	facebook<br/>
	<div class="sublabel">
	$490,000 - $510,000
	</div>
</div>
<div class="box facebook-box left"></div>
<div class="clear"></div>

<div class="box-label left">
	google<br/>
	<div class="sublabel">
	$59,000 - $75,000
	</div>
</div>
<div class="box google-box left"></div>
<div class="clear"></div>

<div class="box-label left">
	twitter<br/>
	<div class="sublabel">
	$560,000
	</div>
</div>
<div class="box twitter-box left"></div>
<div class="clear"></div>

<div class="box-label left">
	snapchat<br/>
	<div class="sublabel">
	$5,000
	</div>
</div>
<div class="box snapchat-box left"></div>
<div class="clear"></div>
</div>

<!-- boop -->
<div class="copy">
<p>
	Although email still represents a greatest share of expenditures towards digital, Facebook is catching up. Google advertising falls far behind Facebook. So far during the election campaign cycle, only one transaction has explicitly mentioned Snapchat: a committee called New Day For America paid $5,000 to a company called Strategic Perception, Inc., for a service in support of John Kasich. This is likely the bacon filter.
</p>
<p>
	Note: money often doesn't go directly to these companies; instead, PACs make payments to political consulting firms, like the Prosper Group, to handle ad purchasing for them.
</p>
</div>

<div id="second" class="sec2-header">
	<h2>some candidates get all the attention</h2>
</div>

<!-- boop -->
<div class="copy">
<p>
	For the upcoming 2016 General Election, there are a total of 2,526 individuals who have registered with the FEC or appear on official ballots for election to the House, Senate, or Presidential offices. Only 62 of those candidates are the topic of ads funded by independent expenditure.
</p>

<img src="/static/viz/candidates.jpg"/>
<div class="caption">
	Independent expenditures touch a small fraction of the candidates.
</div>

<p>
	When a filing is made for independent expenditure, each spender has to designate which candidate their transaction is targetting, and whether the action is in support or opposition of that candidate. 
</p>

<img src="/static/viz/timeseries-annot2.jpg" width="1000">
<p>
	In this chart, transactions in support of a candidate are shown on the positive y-axis; transactions in opposition of a candidate are shown on the negative y-axis. Each debate is also noted.
</p>
</div>

<h3>
	The Democrat and Republican Receiving the Most Support
</h3>
<br/><br/>
<div class="cont1">
<div class="round round-bernie left">
	<div class="info">
		$490,000
	</div>
</div>
<div class="round round-jeb left">
	<div class="info">
		$32,000,000
	</div>
</div>
<div class="clear"></div>
</div>

<br/><br/>
<h3>
	The Democrat and Republican Receiving the Most Opposition
</h3>
<br/><br/>
<div class="cont2">
<div class="round round-hillary left">
	<div class="info">
		$3,500,000
	</div>
</div>
<div class="round round-trump left">
	<div class="info">
		$1,100,000
	</div>
</div>
</div>

<div class="clear"></div>
<br/><br/>
<div id="second" class="sec3-header">
	<h2>who's paying? we don't know.</h2>
</div>
<br/><br/>
<div class="copy">
<p>
Because of the nature of PACs, many of the contributions made are not at all disclosed. 
</p>
</div>
<h3>
	Map of Individual Contributions
</h3>
<div class="copy">
<iframe src="http://rpubs.com/Msxtines/Statfest_topDonorsover100Kbylocation_party" width="900" height="600">
</iframe>
</div>

<br/><br/>
<div class="copy">
<img src="/static/viz/SankeyChart.png">
<img src="/static/img/hilary2.png">
</div>
<!-- boop -->
<div class="copy">

</div>

<div class="footer">
	About our team
</div>
</body>
</html>